<template>
  <div>
      <img :src="full_picture" :alt="`picture-${id}`">
      <div class="overlay">
          <div>{{ author }}</div>
          <div> {{ camera }} </div>
          <div> {{ tags }} </div>
      </div>
  </div>
</template>

<script>
import imagesResource from '@/api/resources/images'

export default {
    name: 'Details',
    data () {
        return {
            details: undefined,
            author: "",
            camera: "",
            cropped_picture: "",
            full_picture: "",
            id: "",
            tags: []
        }
    },
    methods: {
        async getImage (id) {
            try {
                let response = await imagesResource.getById(id)
                return response
            } catch (err) {
                console.log(err)
            }
        }
    },
    async created () {
        try {
            let detailedImageObject = await this.getImage(this.$router.history.current.params.id)
            this.author = detailedImageObject.author
            this.camera = detailedImageObject.camera
            this.cropped_picture = detailedImageObject.cropped_picture
            this.full_picture = detailedImageObject.full_picture
            this.id = detailedImageObject.id
            this.tags = detailedImageObject.tags
            
        } catch (err) {
            console.log(err)
        }
    }
}
</script>

<style scoped>

    .overlay {
        position: relative;
        color: white;
        font-weight: 800;
        top: -80px;
        left: 0px;
    }

</style>