<template>
  <div>
        <div>
            <h3>Welcome to the test task app!</h3>
        </div>
        <div>
            <images-grid @onImageClick="handleImageClick" :images="currentPageImages"/>
        </div>
        <div class="paginator">
            <button :disabled="currentPage === 1" @click="requestPreviousPage">Previous</button>
            <span>Current page: {{ currentPage }}</span>
            <button :disabled="currentPage === pageCount" @click="requestNextPage">Next</button>
        </div>
  </div>
</template>

<script>
import imagesResource from '@/api/resources/images'
import ImagesGrid from '@/components/ImagesGrid'

export default {
    name: 'Home',
    components: {
        ImagesGrid
    },
    data () {
        return {
            currentPage: 1,
            hasMore: true,
            pageCount: 0,
            images: [],
            // already requested pages is used for "caching" already requested images
            alreadyRequestedPages: []
        }
    },
    computed: {
        currentPageImages () {
            return this.images.filter((image, index) => (index >= (this.currentPage - 1) * 10) && (index < 10 + (this.currentPage - 1) * 10))
        }
    },
    methods: {
        async getImages (page) {
            let response = await imagesResource.get(page)
            this.alreadyRequestedPages = [...this.alreadyRequestedPages, page]
            this.currentPage = response.page
            this.hasMore = response.hasMore
            return response
        },

        async requestNextPage () {
            if (!this.alreadyRequestedPages.includes(this.currentPage + 1)) {
                try {
                    let newImages = await this.getImages(this.currentPage + 1)
                    this.images = [...this.images, ...newImages.pictures]
                } catch (err) {
                    console.log(err)
                }
            } else {
                this.currentPage = this.currentPage + 1
            }
        },

        requestPreviousPage () {
            this.currentPage = this.currentPage - 1
        },

        handleImageClick (id) {
            this.$router.push({name: `details`, params: { id }})
        }
    },
    async created () {
        try {
            let imagesCallObject = await this.getImages(1)
            this.pageCount = imagesCallObject.pageCount
            this.images = imagesCallObject.pictures
            
        } catch (err) {
            console.log(err)
        }
    }
}
</script>

<style scoped>

    .paginator {
        padding: 50px 0px;
        
    }
    button {
        margin: 0px 10px;
    }

</style>