<template>
    <div class="images-grid">
        <div v-for="(image) in images" :key="`image-${image.id}`" class="image-container">
            <img @click="handleImageClick(image.id)" :src="image.cropped_picture" :alt="`image-${image.id}`"/>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        images: {
            type: Array,
            default: () => []
        }
    },
    methods: {
        handleImageClick (imageId) {
            this.$emit('onImageClick', imageId)
        }
    }
}
</script>

<style lang="css" scoped>
    .images-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* width: 500px; */
    }
    .image-container {
        cursor: pointer;
        margin: 5px;
        min-width: 100px;
        min-height: 100px;
        border: 4px solid black;
    }
    img {
        width: 100%;
        height: 100%;
    }
</style>